.list-of-heroes {
    font-size: 15px;
    max-width: 1000px;
    margin-bottom: 10px;
}

.list-of-heroes label {
    display: inline-block;
}

@media print {
    .grid-wrapper .hero-sheet:nth-child(4n+6) {
        page-break-before: true;
        margin-top: 10px;
    }

    .grid-wrapper .hero-sheet:nth-child(4n+7) {
        margin-top: 10px;
    }
}
