@font-face {
    font-family: 'Gentium Basic';
    src: url('gentium-basic.regular.ttf') format('truetype');
}

@media print {
    .non-printable {
        display: none !important;
    }
}

.material-box {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #333;
    background-color: #e5e5e5;
    border-radius: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 960px;
    gap: 1px;
}

.all-sections {
    display: grid;
    grid-template-columns: minmax(0, 960px) 100px; /* First column: max 960px, second column: 100px */
    grid-template-rows: auto 1fr;
    gap: 10px;
    width: 100%;
}

.top-section {
    grid-column: 1;
    grid-row: 1;
    display: flex;
}

.bottom-left-section {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.bottom-right-section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: fit-content;
}

.buy-me-a-coffee-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.buy-me-a-coffee-link > img {
    width: 160px;
}