.hero-sheet {
    width: 480px;
    height: 384px;
}

.hero-card {
    width: 480px;
    height: 384px;

    font-family: 'Gentium Basic', serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-image: url('img/hero-card-template.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

.hero-card-top {
    width: 100%;
    height: 84.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-card-bottom {
    width: 100%;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('img/health-8.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-card-top-left {
    width: 66%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.faction-and-titles {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.faction-image {
    height: 72px;
    width: 72px;

    background-image: url('img/faction-wyrmrest.png');
    background-size: 67%;
    margin-left: 2px;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-titles {
    padding-top: 20px;
    padding-top: 19.2px;
    text-align: center;

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.hero-name {
    font-weight: bold;
    font-size: 17px;
    margin-left: 19.2px;
    margin-right: 48px;
}

.hero-title {
    font-weight: bold;
    font-style: italic;
    font-size: 7.68px;
    margin-left: 19.2px;
    margin-right: 48px;
}

.hero-quote {
    font-style: italic;
    font-size: 11.52px;
    height: 100%;
    margin-left: 19.2px;
    margin-right: 48px;
    margin-top: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 104%;
    background-image: url('img/alexstrasza.png');
    background-position: -5px -24px;

    z-index: -1;
    width: 259px;
    height: 230px;
    margin: 86px 0px 0px 29px;
    position: absolute;
}

.hero-card-top-right {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: top;
    align-items: flex-end;
}

.starting-location-image {
    height: 72px;
    width: 72px;

    background-image: url('img/loc-purple.png');
    background-size: 67%;
    background-position: center;
    background-repeat: no-repeat;
}

.powers {
    margin-top: -9.6px;
    padding-left: 14.4px;
    padding-right: 14.4px;
    font-size: 12.48px;
}

.power-name {
    font-size: 15.36px;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 2.88px;
    font-family: serif;
}

.power-desc {
    margin-bottom: 9.6px;
}

.power-desc-prefix {
    font-weight: bold;
}

.starting-location-image-svg {
    overflow: visible;
}

path {
    opacity: var(--show, 0);
    transition: opacity 0.2s;
}

textPath {
    font-size: 10.56px;
    font-weight: bold;
}

.dg :is(.cr.string, .cr.number) input[type=text] {
    color: white;
    line-height: 1;
}

.starting-location-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.starting-location-input {
    display: none;
    width: 96px;
    height: 19.2px;
    order: -1;
}

.examples-container {
    gap: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hero-card-example {
    width: 80px;
    height: 64px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-card-example a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.instructions {
    grid-column: 1;
    grid-row: 1;
}

.hero-sheet {
    grid-column: 1 ;
    grid-row: 2;
}

.examples-container {
    grid-column: 1;
    grid-row: 3;
}
